*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #0D0D0D;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
